<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/url_shortener/css/base.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <main>
        <div class="header">
            <h1>Lola URL Shortener</h1>
        </div>
        <div class="form">
            <form>
                <h2>Custom URL already in use</h2>
            </form>
        </div>
        <article>
            <button onclick="window.location.href='.html'" type="button" class="submit-button">Shorten Another URL</button>
            <button onclick="window.location.href='analytics'" type="button" class="submit-button">View QR Code and Clicks</button>
        </article>
    </main>
    <footer></footer>
    
</body>
</html>